---
const { title, description, icons, tech, urlApp, urlGithub, path_img } = Astro.props;
---


<!-- FF0380 magenta --> 
<!-- 01E5E6 cyan -->
<!-- 062d40 BG html -->
<div
  class={`lg:h-72 lg:grid lg:grid-cols-1 lg:grid-rows-1 lg:gap-y-4 lg:overflow-hidden
    flex flex-row justify-center items-center w-full 
     lg:bg-black/20 lg:top-0 lg:text-white lg:transition-all lg:transform lg:duration-700 lg:ease-in-out lg:mx-0 lg:rounded lg:w-full
    lg:hover:shadow-lg lg:hover:scale-[1.01] lg:hover:translate-y-2 lg:hover:bg-white/5 lg:hover:transition-all lg:hover:ease-out lg:hover:duration-700
    [&>div>div]:lg:hover:block [&>div>div]:lg:transition-all`}
> 
  <div class={`
    w-full py-2 mx-10 border border-white/10 rounded-lg bg-black/20 shadow-lg shadow-black/20
    lg:flex lg:flex-col lg:mx-0 lg:items-center lg:w-full lg:bg-black/10 lg:ease-in lg:transition-all lg:h-full lg:pt-6 lg:pb-0
    [&>div]:lg:hidden [&>section>div>p]:lg:hover:block [&>section>img]:hover:hidden [&>section>div]:hover:
  `}>
    <h2 class={`
    text-white font-title w-full hidden
      lg:text-center lg:text-2xl lg:font-title lg:transition-all lg:flex lg:justify-center lg:items-center
    `}>
      {title}
    </h2>
    <section class={`
      flex flex-col justify-center items-center px-10 size-full w-full h-16
      lg:flex lg:flex-col lg:justify-center lg:items-center lg:px-10 lg:size-full
    `}>
      <!-- Div para pantalla SM -->
      <div class={`
        w-full flex justify-start items-center mb-2 pt-1
        lg:hidden
      `}>
        <img src={path_img} alt="Imagen de Proyecto" class={`
          size-16 rounded-3xl p-1 bg-white
        `}/>
        <h3 class={`
          text-white font-title w-1/2 text-start pl-6 text-lg 
          lg:hidden
        `}>
          {title}
        </h3>
        <!-- <a href="#" target="_blank" class="lg:hidden text-white gap-x-2 w-auto h-14 rounded-full bg-orange-700 px-2 py-2 flex justify-center items-center hover:bg-white/40">
          <p class="font-text2">Demo</p>
          <img src="/icons/link-external.svg" alt="foto de icon external link" class="size-6" />
        </a>  -->
        <!-- <div class={`
          flex flex-row items-center justify-between w-full
        `}>
          <div class="flex flex-row justify-center items-center w-full">
            <h2 class={`
            text-white py-2 font-title w-full flex justify-center items-center
            `}>
              {title}
            </h2>
            <ul
              class="flex justify-center items-center gap-x-2 text-white w-full"
            >
              {
                icons.map((src) => (
                  <li class={`
                    flex justify-center items-center bg-white/20 rounded-full size-8
                  `}>
                    <img src={src} alt="icon" class={`
                      size-6
                    `}/>  
                  </li>
                ))
              }
            </ul>
          </div>
        </div> -->
      </div>
      <img src={path_img} alt="Imagen de Proyecto" class={`
        size-14 rounded-full p-1 scale-105 shadow shadow-black hidden 
        lg:rounded-full lg:size-32 bg-white lg:transition-all lg:flex lg:justify-center lg:items-center
      `}/>
      
      <div class="flex justify-center items-center w-full gap-x-4">
        <p class={`hidden 
          lg:text-white/80 text-justify leading-tight transition-all py-2 lg:w-full
          lg:hidden lg:text-md lg:tracking-tight lg:leading-tight lg:font-text2 lg:text-ellipsis
        `}>
          {description}
        </p>
        <div class="lg:hidden bg-transparent py-2 px-0 w-full flex justify-between items-center gap-x-2">
          <a href={urlGithub} target="_blank" class="bg-black/30 py-2 px-6 w-1/2 rounded-full border border-white/20 flex justify-center items-center ">
            <img src="/icons/github.svg" alt="Icon de GitHub" class="size-6 lg:hidden text-white" />
          </a>
          <a href={urlGithub} target="_blank" class="bg-black/30 py-2 px-6 w-1/2 rounded-full border border-white/20 flex justify-center items-center ">
            <img src="/icons/info.svg" alt="Icon de Información" class="size-6 lg:hidden" />
          </a>
          <a href={urlGithub} target="_blank" class="bg-white/80 px-6 h-10 w-full rounded-full border border-white/20 flex justify-center items-center ">
            <p class="font-text3 font-bold text-center text-black">Demo</p>
          </a>
        </div>
      </div>
    </section>
    <div
      class={`
        flex flex-col justify-between text-center 
        lg:w-full lg:px-0
         lg:flex lg:flex-col lg:justify-between
        [&>div>div>a]:text-lg [&>div>div>a]:transition-all
      `}>
      <div class={`
        hidden 
        lg:block lg:w-full lg:transition-all
      `}>
        <ul
          class="flex justify-center items-center text-white text-center gap-x-2 size-full pb-4"
        >
          {
            icons.map((src) => (
              <li class={`
                flex justify-center items-center bg-white/20 rounded-full p-2
                hover:bg-white/30
              `}>
                <img src={src} alt="icon" class={`
                  h-6 w-auto
                `}/>  
              </li>
            ))
          }
        </ul>
      </div>
      <div class={`
        w-full hidden
        lg:bottom-0 lg:flex lg:justify-center lg:w-full lg:h-auto
        lg:[&>a]:h-12
      `}>
        <a
          href={urlApp}
          target="_blank"
          class={`
          bg-white/70 py-2 px-8 rounded-xl text-black/70 font-text3 border border-white
          lg:w-full lg:px-0 lg:transition-all lg:text-white lg:bg-white/10 lg:hover:bg-white/20 lg:font-text3 lg:text-lg lg:active:scale-[.98] lg:text-center lg:flex lg:justify-between lg:items-center lg:rounded-bl lg:rounded-none lg:border-none`}
        >
          <p class="w-full">Demo</p>
        </a>
        <a
          href={urlGithub}
          target="_blank"
          class="lg:w-full lg:hover:bg-white/20 lg:transition-all lg:bg-white/10 lg:px-0 lg:flex lg:justify-center lg:items-center lg:font-text2 lg:active:scale-[.98] lg:py-0 lg:border-none lg:rounded-br"
        >
          <img src="/icons/github.svg" alt="Icon de GitHub" class="size-6 inline-block" />
        </a>
      </div>
    </div>
  </div>
</div>


<style>
  .scale-up-vertical-top {
    animation: scale-up-vertical-top 1.6s linear;
  }
  @keyframes scale-up-vertical-top {
    0% {
      transform: scaleY(0.4);
      transform-origin: center top;
    }
    100% {
      transform: scaleY(1);
      transform-origin: center top;
    }
  }
</style>
