---
const { title, description, tech, urlApp, urlGithub, path_img } = Astro.props;
import { FaGithub } from 'react-icons/fa'
---


<!-- FF0380 magenta --> 
<!-- 01E5E6 cyan -->
 <!-- 062d40 BG html -->
<div
  class={`
    flex justify-center bg-cyan-950 top-0 text-white w-full transition-all transform duration-700 ease-in-out 
    lg:mx-10 lg:h-[16rem] lg:rounded lg:w-full 
    lg:hover:shadow-2xl lg:hover:h-[18rem] lg:hover:bg-cyan-900 lg:hover:z-50 lg:hover:transition-all lg:hover:ease-out lg:hover:duration-700
    [&>div>div]:lg:hover:block [&>div>div]:lg:transition-all `}
> 
  <div class={`
    flex flex-col items-center py-6 ease-in-out transition-all w-full px-10
    [&>div]:lg:hidden lg:flex lg:flex-col lg:items-center lg:justify-between lg:h-full [&>img]:hover:hidden
  `}>
    <h2 class="text-white text-center text-xl font-text3 py-2">{title}</h2>
    <img src={path_img} alt="Imagen de Proyecto" class="rounded-full w-auto h-[10rem] bg-white p-4" />
    <div class="flex flex-col items-center h-full w-full transition-all duration-1000">
      <div class="flex h-full w-full py-1">
        <p class={`
          text-md text-white/80 text-justify tracking-tight px-4 font-textRegular
        `}>
          {description}
        </p>
      </div>
    </div>
    <div
      class='flex flex-col justify-between text-center [&>div>div>a]:text-lg [&>div>div>a]:border-none [&>div>div>a]:w-auto [&>div>div>a]:transition-all [&>div>div>a]:py-1 [&>div>div>a]:rounded'
    >
      <div class="w-full">
        <ul
          class="grid grid-cols-3 grid-auto-rows text-white text-center gap-1 py-3 px-3 w-full"
        >
          {
            tech.map((item) => (
              <li class="bg-white/10 rounded-full w-full h-6 text-center px-4 py-1 text-[0.7rem] truncate font-text2 hover:bg-white/70 hover:text-black">
                {item}
              </li>
            ))
          }
        </ul>
        <div class="flex justify-center gap-x-4 pt-2">
          <a
            href={urlApp}
            target="_blank"
            class="hover:bg-white/90 hover:text-black transition-all bg-white/30 px-10 font-text3 active:scale-[.98]"
            >Demo</a
          >
          <a
            href={urlGithub}
            target="_blank"
            class="hover:bg-white/90 hover:text-black transition-all bg-white/30 px-5 flex justify-center items-center font-text2 active:scale-[.98]"
            ><FaGithub/></a
          >
        </div>
      </div>
    </div>
  </div>
</div>


<style>
  .scale-up-vertical-top {
    animation: scale-up-vertical-top 1.6s linear;
  }
  @keyframes scale-up-vertical-top {
    0% {
      transform: scaleY(0.4);
      transform-origin: center top;
    }
    100% {
      transform: scaleY(1);
      transform-origin: center top;
    }
  }
</style>
